*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-nav{
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    font-size: 20px;
}

.custom-box{
    max-height: 900px;
    box-sizing: border-box;
    box-shadow: 21px 18px 27px 5px rgba(20,8,8,0.75);
    background-color: rgb(234, 19, 191);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    padding-bottom: 10px;
    

}

.custom-about{
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(18, 12, 4, 1) 100%);
}

.custom-box:hover{
    background-color: rgb(10, 188, 37);
    transform: translateX(-10px);
}

.custom-box img{
    width: 100%;
    border-radius: 15px;
}

.rel-img{
    border-radius: 50%;
    margin-top: 10px;
}

.kobita-card{
    color: aliceblue;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 15px;
    text-align: center;

}
.kobita-card img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.custom-poem{
   background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
   border-radius: 10px;
   padding-bottom: 15px;
}

.kobita-card a{
    text-decoration: none;
    color: bisque;
}